<TABLE cellspacing="1" cellPadding="0" border="0" width="500" bgColor="#0C39B7" >
    <TR>
      <TD height="25">
        <P style="MARGIN-LEFT: 6px; MARGIN-RIGHT: 3px" align="left">
		  <B>
		    <FONT face="Verdana" color="#ffffff" size="2">
			  Al cierre 
			</FONT>
	      </B>
		</P>
     </TD>
     </TR>
     <TR>
       <TD vAlign="top" bgColor="#DDEBF5">
         <P style="MARGIN: 10px 10px 10px 10px">
           <FONT face="Verdana" size="1">
		     La juez Betty Yañíquez ordenó la detención del 
             general Wálter Carrasco, acusado de obstruir la 
             investigación de la compra de equipos antimotín. 
           </FONT>
		 </P>
	  </TD>
	</tr>
</TABLE>
